# URL pública do site (utilizada para SEO, Sitemap e metadados)
NEXT_PUBLIC_SITE_URL=https://ryanjesus.dev

# Chave de API do Resend (Obtenha em https://resend.com)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
